:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --grey: #ebecd0;
  --green: #739552;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.row {
  display: flex;
}

.square {
  position: relative;
  width: 100px;
  height: 100px;
  background-size: contain;
}

.guideLine {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.captureGuideLine {
  position: absolute;
  width: 85px;
  height: 85px;
  border: 7px solid rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.green {
  background-color: var(--green);
}

.grey {
  background-color: var(--grey);
}

.selected-green {
  background-color: #b9ca42;
}

.selected-grey {
  background-color: #f5f580;
}
